{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <title>FreakThought | register </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static  'css/styles.css' %}">


    </head>
<br> 
<div class="container bg-white shadow-md p-5 form-layout" >  
    <h3>create your account!</h3>

    <h5>share your creative thoughts today &#128512; </h5> 

    <br>
    <br>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{RegisterationForm|crispy}}

    <button class="btn btn-secondary btn-md w-100 btn-block p-3" type="submit">create account</button> 
    </form> 
</div>
<br>
</html>    
